.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  z-index: 1000;
}

.menu a {
  text-decoration: none;
  width: 80%;
}

.menu button {
  display: flex;
  gap: 10px;
  width: 100%;
  background-color: transparent;
  color: #2c0e20;
  border: none;
  padding: 12px;
  font-size: 20px;
  text-align: left;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-icon {
  display: flex;
  align-items: center;
  font-size: 135%;
  color: #2c0e20;
}

.menu button:hover {
  background-color: #f0e6e8;
  color: #000;
}

.menu button:focus {
  text-decoration: underline;
}

.menu .active {
  background-color: #c2185b;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  background-color: #f8a1c2;
  width: 70%;
  padding: 12px;
  border: none;
  font-size: 24px;
  color: #2c0e20;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 400;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  color: white;
  background-color: #a31545;
}

.salir-button {
  font-size: 150%;
}

.admin-menu,
.gestor-menu {
  width: 250px;
  background-color: #f8a1c2;
  color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.admin-profile,
.gestor-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.nombre,
.gestor-menu .nombre {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

.menu-logo {
  width: 80px;
  margin-bottom: 20px;
  border-radius: 20px;
}

@media (max-width: 700px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
    height: 100vh;
    width: 250px;
  }

  .admin-menu,
  .gestor-menu {
    width: 100%;
    height: 100%;
    padding: 15px 0;
  }

  .menu-container.open {
    transform: translateX(0);
  }

  .menu-logo {
    width: 100px;
    margin-bottom: 10px;
    margin-top: 60px;
  }

  .menu button {
    padding: 10px;
    font-size: 18px;
  }

  .logout-button {
    width: 80%;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
  }
}
